body::-webkit-scrollbar { width: 12px; }
body::-webkit-scrollbar-track { background: #111; }
body::-webkit-scrollbar-thumb { background-color: #333; border-radius: 20px; border: 3px solid #111; }

[data-before]:before { content: attr(data-before); }
[data-after]:after { content: attr(data-after); }

.body {margin: 0;color: #fff;font-family: Arial;background: #333;position: relative;top: 0;left: 0;right: 0;bottom: 0;}
.body {content: '';display: block;width: 100%;height: 100%;background: #262626;/* position: absolute; */}

.body-header {position: fixed;top: 0;left: 0;right: 0;width: 100%;height: 50px;background: #333;color: white;z-index: 12345;}
.body-header > * { max-width: 1920px; margin: auto; }
.body-header-section {width: 100%;height: 100%;display: flex;display: -webkit-flex;justify-content: space-between;align-items: center;}
.body-header-section .logo {width: auto;height: 50px;padding: 0 10px;font-size: 20px;font-weight: bolder;/* margin-right: auto; */display: flex;display: -webkit-flex;justify-content: center;align-items: center;}
.body-header-section .logo:before {display: inline-block;vertical-align: middle;width: 20px;height: 20px;margin-right: 5px;background-image: url(/svg/unicode/1F4A6.svg);background-size: contain;background-repeat: no-repeat;background-position: center;}
.body-header-section .logo:after {display: inline-block;vertical-align: middle;height: 20px;line-height: 20px;}
.body-header-section .user { width: 50px; height: 50px; text-align: center; line-height: 50px; font-size: 20px; }
.body-header-section .user {padding: 0;font-weight: bolder;width: 50px;height: 50px;line-height: 50px;text-align: center;font-size: 20px;display: flex;display: -webkit-flex;justify-content: center;align-items: center;margin-left: auto;}
.body-header-section .user:before {content:"";display: inline-block;vertical-align: middle;width: 30px;height: 30px;background-image: url(/svg/unicode/1F464.svg);background-size: contain;background-repeat: no-repeat;background-position: center;}
.body-header-section .gear {padding: 0;font-weight: bolder;width: 50px;height: 50px;line-height: 50px;text-align: center;font-size: 20px;display: flex;display: -webkit-flex;justify-content: center;align-items: center;display: none;}
.body-header-section .gear:before {content:"";display: inline-block;vertical-align: middle;width: 30px;height: 30px;background-image: url(/svg/unicode/2699.svg);background-size: contain;background-repeat: no-repeat;background-position: center;}

.body-main {width: 100%;min-height: 100%;display: block;background: #262626;position: relative;z-index: 123;}

.header-video {text-align: center;line-height: 20px;font-size: 13px;}
.header-video .freak { display: inline-block; margin-right: 10px; }

.section-video {width: calc(100% - 0px);margin: auto;}

.index-videos, .stars, .tags {width: 1920px;max-width: calc(100% - 20px);margin: auto;text-align: center;/* margin-bottom: 20px; */}

.stars > * {width: calc((100% - 180px)/10);padding-top: calc((100% - 180px)/10);height: 0;border-radius: 50%;display: inline-block;vertical-align: top;border-radius: 50%;overflow: hidden;position: relative;margin: 20px 20px 0 0;}
.stars > :last-child { margin-right: 0; }
.stars picture img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }


.tags {/* display: none; */}

.section-video .media-video {display: inline-block;vertical-align: top;width: calc((100% - 50px)/6);margin-right: 10px;margin-top: 20px;}
.section-video .media-video:nth-child(6n) { margin-right: 0; }
.section-video .media-video .section-video picture {width: 100%;padding-top: 56.25%;height: 0;background: #000;position: relative;display: block;margin-bottom: 5px;}
.section-video .media-video .section-video img {object-fit: cover;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.section-video .media-video .footer-video {margin-top: 5px;text-align: center;line-height: 20px;font-size: 16px;text-align: left;}
.section-video .media-video .footer-video > :nth-child(1) {line-height: 20px;font-size: 13px;color: #0074fd;}
.section-video .media-video .footer-video > :nth-child(2) {font-size: 13px;}
.section-video .media-video .section-video picture + div:empty:before {content: '';display: block;width: 100%;height: 20px;background: #111;border-radius: 0;}
.section-video .media-video .footer-video:empty:after {content: '';display: block;width: 100%;height: 20px;background: #111;border-radius: 0;margin-top: 5px;}

.section-index-tags .tags { width: 1920px; max-width: calc(100% - 20px); margin: auto; }
.tags > * {font-size: 18px;line-height: 50px;height: 50px;margin-top: 20px;margin-right: 20px;/* margin-bottom: 20px; */display: inline-block;border: 1px solid #777;border-radius: 50px;padding: 0 20px;min-width: 50px;text-align: center;}


@media screen and (max-width: 1600px) {
    .section-video .media-video { width: calc((100% - 40px)/5); }
    .section-video .media-video:nth-child(6n) { margin-right: 10px;}
    .section-video .media-video:nth-child(5n) { margin-right: 0; }
}
@media screen and (max-width: 1280px) {
    .section-video .media-video { width: calc((100% - 30px)/4); }
    .section-video .media-video:nth-child(6n) { margin-right: 10px;}
    .section-video .media-video:nth-child(5n) { margin-right: 10px; }
    .section-video .media-video:nth-child(4n) { margin-right: 0px; }
}
@media screen and (max-width: 1024px) {
    .section-video .media-video { width: calc((100% - 20px)/3); }
    .section-video .media-video:nth-child(6n) { margin-right: 10px; }
    .section-video .media-video:nth-child(5n) { margin-right: 10px; }
    .section-video .media-video:nth-child(4n) { margin-right: 10px; }
    .section-video .media-video:nth-child(3n) { margin-right: 0px; }
}
@media screen and (max-width: 960px) {
    .stars > * {width: calc((100% - 80px)/5);padding-top: calc((100% - 80px)/5);}
    .stars > :nth-child(5n) { margin-right: 0; }
}
@media screen and (max-width: 768px) {
    .article-index {padding: 50px 0 20px;}
    .header-stars, .index-videos {/* width: calc((100% - 40px)/1); */margin: auto;}
    .section-video .media-video {width: calc((100% - 10px)/2);}
    .section-video .media-video:nth-child(6n) { margin-right: 10px; }
    .section-video .media-video:nth-child(5n) { margin-right: 10px; }
    .section-video .media-video:nth-child(4n) { margin-right: 10px; }
    .section-video .media-video:nth-child(3n) { margin-right: 10px; }
    .section-video .media-video:nth-child(2n) { margin-right: 0px; }
    .header-index {white-space: nowrap;overflow-y: hidden;padding: 0 10px;max-width: calc(100% - 20px);display: none;}
    .tags > * {display: inline-block;vertical-align: top;margin: 20px 20px 20px 0;}
}
@media screen and (max-width: 480px) {
    .section-video .media-video {width: calc((100% - 0px)/1);}
    .section-video .media-video:nth-child(6n) { margin-right: 10px; }
    .section-video .media-video:nth-child(5n) { margin-right: 10px; }
    .section-video .media-video:nth-child(4n) { margin-right: 10px; }
    .section-video .media-video:nth-child(3n) { margin-right: 10px; }
    .section-video .media-video:nth-child(2n) { margin-right: 10px; }
    .tags { display: none; }
}
@media screen and (max-width: 425px) {
    .header-stars { width: 100%; overflow-y: hidden; }
    .stars {white-space: nowrap;/* padding: 0 20px; */max-width: calc(100% - 0px);}
    .stars > * {width: calc((100% - 40px)/3.5);padding-top: calc((100% - 40px)/3.5);margin-bottom: 20px;}
    .stars > :nth-child(5n) { margin-right: 20px; }
    .stars > :first-child { margin-left: 10px; }
    .stars > :last-child {margin-right: 10px;}
}

/*PAGES*/
.body .page {position: absolute;top: 0;left: 0;right: 0;padding: 0;width: 100%;height: 100%;overflow: hidden;z-index: 0;background: #262626;}

.body[data-page="/"] .page[data-page="/"],
.body[data-page="/video/*/"] .page[data-page="/video/*/"],
.body[data-page="/volume/"] .page[data-page="/volume/"],
.body[data-page="/volume/*/"] .page[data-page="/volume/*/"],
.body[data-page="/volume/*/*/"] .page[data-page="/volume/*/*/"] {position:relative;min-height: 100%;height: auto;z-index: 1;}
/*PAGES*/

.page > :first-child { margin-top: 50px; }

.page-index .footer-index { margin-bottom: 10px; }

.page-volume-number-video { width: 100%; height: 0; padding-top: 56.25%; }
.page-volume-number-video header {width: 100%;background-color: #000;position: relative;background-size: cover;background-repeat: no-repeat;background-position: center;}
.page-volume-number-video header .video-header-section {max-width: 960px;margin: auto;padding: 20px 0;}
.page-volume-number-video header .video-header-section .video-iframe {width: 100%;padding-top: 56.25%;position: relative;margin: auto;}
.page-volume-number-video header .video-header-section .video-iframe iframe { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; }
@media screen and (max-width: 960px) { 
    .page-volume-number-video header .video-header-section { padding: 0; }
}